@tailwind base
@tailwind components
@tailwind utilities

* 
  box-sizing: border-box
  border: 0
  padding: 0
  margin: 0

:root 
  --accent: 124, 58, 237
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%)

html 
  font-family: system-ui, sans-serif

body 
  display: grid
  grid-template-rows: 0fr 0fr 1fr 0fr
  min-height: 100vh
  background: linear-gradient(0deg,rgb(1,1,16) 0%,rgb(18,2,23) 48%,rgb(21,14,44) 100%)
  color: black
  font-family: "Pixelated Arial", Geneva, Tahoma, sans-serif

code 
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace