---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Get all entries from a collection. Requires the name of the collection as an argument.
const patchNotes = await getCollection("patch-notes");
---

<Layout title="Cool Game 3 - Patch Notes">
  <main class='mt-12 text-white'>
    <section>
      <ul>
        {
          patchNotes.map(async (patchNote) => {
            const { Content } = await patchNote.render();
            return (
              <article class="patch-note max-w-2xl mx-auto">
                <Content />
              </article>
            );
          })
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<style is:global>
  .patch-note ul {
    list-style: disc;
    margin-left: 30px;
  }

  .patch-note li {
    margin-bottom: 4px;
  }

  .patch-note h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
  }
  .patch-note h2 {
    font-size: 1.55rem;
    line-height: 2.5rem;
    margin: 20px 0;
  }
</style>
