---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";
---

<Layout title="Sign up to Cool Game 3">
  <main>
    <a href="/" aria-label="Go home">
      <Picture
        class="mx-auto logo"
        src="/logo.png"
        widths={[200, 400, 800]}
        aspectRatio="16:9"
        sizes="(max-width: 800px) 100vw, 800px"
        alt="Cool Game 3 Logotype"
      />
    </a>

    <form
      class="text-white text-center max-w-lg mx-auto mb-8 text-xl"
    >
      <h1 class="text-4xl font-bold mb-8">Sign up</h1>
      <div class="flex items-center justify-between gap-4 mb-4">
        <label for="username" class='font-bold'>Username</label>
        <input
          type="text"
          name="username"
          id="username"
          maxlength="12"
          placeholder="CoolGamer3"
          class="bg-[rgba(255,255,255,0.1)] px-4 py-2 rounded-md"
        />
      </div>
      <div class="flex items-center justify-between gap-4 mb-4">
        <label for="password" class='font-bold'>Password</label>
        <input
          type="password"
          name="password"
          id="password"
          maxlength="12"
          placeholder="********"
          class="bg-[rgba(255,255,255,0.1)] px-4 py-2 rounded-md"
        />
      </div>
      <div class="flex items-center justify-between gap-4 mb-4">
        <label for="retype-password" class='font-bold text-left'>Retype password</label>
        <input
          type="retype-password"
          name="retype-password"
          id="retype-password"
          maxlength="12"
          placeholder="********"
          class="bg-[rgba(255,255,255,0.1)] px-4 py-2 rounded-md"
        />
      </div>
      <div class="flex items-center justify-between gap-4 mb-4">
        <label for="email" class='font-bold'>Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="coolgamer3@hotmail.com"
          class="bg-[rgba(255,255,255,0.1)] px-4 py-2 rounded-md"
        />
      </div>
      <button
        type="submit"
        class="mt-8 flex items-center justify-center gap-3 text-xl register-btn mx-auto"
        style="filter: hue-rotate(175deg)"
      >
        <Icon name="raphael:power" class="w-14 h-14 relative bottom-[2px]" />
        <svg
          id="sign-up-text"
          viewBox="0 0 210 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <text x="0" y="65"> Sign Up</text>
        </svg>
      </button>
    </form>
  </main>
</Layout>
