---
import "../style/style.scss";
import "../style/utility.sass";
import "../style/fonts.sass";
import { Picture } from "@astrojs/image/components";
import Nav from "../components/Nav.astro";
import { getNotice } from "../proto/cool-game-web";
const notice = await getNotice();

export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <p
      id="notice"
      style='font-family:"Pixelated Arial"'
      class="whitespace-nowrap fixed z-50 text-[#ff2] text-[15px] pt-1 pb-2 w-full bg-[rgba(0,0,0,.5)] h-[27px] top-0 left-0 overflow-hidden"
    >
      {notice && notice.slice(1, -1)}
    </p>
    <header class="relative max-h-[400px] top-[-50px]">
      <a href="/" aria-label="Go home">
        <Picture
          class="mx-auto logo"
          src="/logo.png"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          sizes="(max-width: 800px) 100vw, 800px"
          alt="Cool Game 3 Logotype"
        />
      </a>
    </header>
    <Nav/>
    <slot />
  </body>
</html>
