---
import Icon from "astro-icon";
---

<nav class="w-full grid items-center gap-4 justify-center">
  <div class="flex items-center justify-center gap-20 pt-4">
    <a
      href="/patches"
      class="hover:underline text-xl mx-auto text-white flex gap-4 justify-between items-center"
    >
      <Icon name="ph:scroll-duotone" class="w-8 h-8" />
      <span>Patch Notes</span>
    </a>

    <a
      href="/rankings"
      class="hover:underline text-xl mx-auto text-white flex gap-4 justify-between items-center"
    >
      <Icon name="icon-park-outline:ranking" class="w-8 h-8" />
      <span>Rankings</span>
    </a>
  </div>
</nav>
