---
import Icon from "astro-icon";

const isPatchNotes = Astro.url.pathname === "/patches";
const isRankings = Astro.url.pathname === "/rankings";
---

<nav class="w-full grid items-center gap-4 justify-center">
  <div class="flex items-center justify-center gap-20 pt-4">
    <a
      href="/patches"
      class="gap-1 flex flex-col items-center hover:bg-[rgba(255,255,255,.125)] hover:text-white transition-colors text-xl mx-auto text-[rgba(255,255,255,.75)] mt-2 px-3 py-1 rounded-md"
      style={isPatchNotes && 'color: white;'}
    >
      <Icon name={'clarity:scroll-solid'} class="text-red-500 w-8 h-8" />
      <span>Patch Notes</span>
    </a>
    <a
      href="/rankings"
      class="gap-1 flex flex-col items-center hover:bg-[rgba(255,255,255,.125)] hover:text-white transition-colors text-xl mx-auto text-[rgba(255,255,255,.75)] mt-2 px-3 py-1 rounded-md"
      style={isRankings && 'color: white;'}
    >
      <Icon name={'vaadin:chart-3d'} class="text-blue-500 w-8 h-8" />
      <span>Rankings</span>
    </a>
  </div>
</nav>
