---
import Icon from "astro-icon";
---

<nav class="w-full grid items-center gap-4 justify-center">
  <div class="flex items-center justify-center gap-20 pt-4">
    <a
      href="/patches"
      class="blue-gradient-top hover:underline text-xl mx-auto text-white flex gap-4 justify-between items-center mt-2 border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md"
      style='filter: hue-rotate(45deg)'

    >
      <Icon name="ph:scroll-duotone" class="w-8 h-8" />
      <span>Patch Notes</span>
    </a>

    <a
      href="/rankings"
      class="blue-gradient-top hover:underline text-xl mx-auto text-white flex gap-4 justify-between items-center mt-2 border-solid border-white border-2 shadow-[0px_0px_3px_rgba(0,0,0,.5)] px-3 py-1 rounded-md"
      style='filter: hue-rotate(155deg)'
    >
      <Icon name="icon-park-outline:ranking" class="w-8 h-8" />
      <span>Rankings</span>
    </a>
  </div>
</nav>
